@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }

 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }

 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }

 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }

 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }

 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }

 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }

  20% {
   transform: scaleY(1);
  }
 }


 .cart {
  width: 350px;
  height: 500px;
  position: absolute; /* Positionne le conteneur de manière absolue */
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-100%, -50%); /* Ajuste pour centrer le conteneur */  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
  overflow-y: auto; /* Ajoute une scrollbar verticale si nécessaire */
  color: #fff; // Définit la couleur du texte par défaut
  font-family: Arial, sans-serif; // Définit la police de caractères
  text-align: center; // Centre le texte à l'intérieur de la cart

 }

 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }

 .circle {
  padding: 0 4px;
 }

 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }

 .red {
  background-color: #ff605c;
 }

 .yellow {
  background-color: #ffbd44;
 }

 .green {
  background-color: #00ca4e;
 }

 .cart::-webkit-scrollbar {
  width: 8px;
}

.cart::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.cart::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* From Uiverse.io by shah1345 */
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.cart h2 {
  font-size: 20px; // Taille du texte pour les sous-titres
  margin-bottom: 10px; // Espacement sous les sous-titres
  color: #fff; // Définit la couleur du texte par défaut

}

.cart li {
  margin-bottom: 20px; // Ajuste l'espacement sous chaque ul
}
