@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* dropdown.component.css */
#dropdown {
  display: none; /* Cacher le menu par défaut */
}

#dropdown.show {
  display: block; /* Afficher le menu lorsqu'il a la classe 'show' */
}

.selected {
  background-color: #e2e8f0;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }

 button.learn-more {
  width: 12rem;
  height: auto;
 }

 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }

 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }

 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }

 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }

 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }

 button:hover .circle {
  width: 100%;
 }

 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }

 button:hover .button-text {
  color: #fff;
 }


 .setting-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgb(129, 110, 216);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}
.bar {
  width: 50%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgb(126, 117, 255);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}

.close
{
  left: 250px;
  bottom: 57px;
  font-size: 30px;
    cursor: pointer;
}

.closePlanning
{
  left: 370px;
  bottom: 110px;
  font-size: 30px;
    cursor: pointer;
}


.Planningform {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  width: 500px; /* Réduire la largeur du formulaire */
  position: fixed; /* Position fixe pour le placer à droite de la page */
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Positionner à droite avec un espace de 20px du bord */
  padding: 30px;
  transform: translate(-50%, -50%); /* Ajuster pour le centrer */
  background: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.titlePlanning {
  color: var(--font-color);
  font-weight: 800;
  font-size: 20px;

}

.titlePlanning span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  text-align: center;

}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}


.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);

}

.modal-content{
  background-color:#f9f9f9;
  height: 400px;
}



.container {
  height: 5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.infinite-moving-cards {
  display: flex;
  animation: scroll 10s linear infinite;
}

.card {
  padding: 0.5rem; /* Réduire le padding */
  margin: 0 0.5rem; /* Réduire l'espacement horizontal entre les cartes */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
}

.close-button:hover {
  color: #333;
}


.leZoomIn span { animation-name: leZoomIn }
@keyframes leZoomIn {
    from {
        transform: scale(10);
        opacity: 0;
    }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto; /* Ajoute une scrollbar verticale si nécessaire */

   /* Styles pour les scrollbars WebKit */
   &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #a5a3a3;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a5a3a3;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Couleur de fond de la piste */
  }
}




.popup-content {
  background: linear-gradient(to right, #09203F, #537895);
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  width: 750px;
  max-height: 100%; /* Ajuste la hauteur maximale */
  display: flex;
  flex-direction: column;
}


.popup-text {
  flex: 1;
  color: #fff;
}



.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #ff0000; /* Change la couleur au survol pour plus de visibilité */
}






.popup-image img {
  max-width: 100%;
  max-height: 100%; /* Limite la hauteur maximale */
  object-fit: contain; /* S'assure que l'image reste entièrement visible */
}

@media (min-width: 768px) {
  .popup-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .popup-text {
    margin-left: 20px;
    flex: 1;
  }

  .popup-image {
    margin-bottom: 0; /* Supprime l'espace sur les écrans plus larges */
  }
}

.text {

  text-align: center;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}


/* From Uiverse.io by omar49511 */
.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
  height: 80%;
  width: 80%;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #469b61;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}


